@media(min-width: 768px) {
	.news-input{
		width: 50%;
	}
}

/* smaill screens*/
@media(max-width: 639px) {
	.d-small-none{
		display: none;
	}
}

@media(max-width: 768px) {
	.d-medium-none{
		display: none;
	}
}

*{
	margin: 0px;
	padding: 0px;
	
}
