/*CSS-TRICKS.COM/ALMANAC to understand attributes*/
/*paletton.com - For colors*/ 

html {
  height: 100%;
  width: 100%;
}

/*All things navigation*/
nav {
  width: 100%;
  size: 500;
  background-color: whitesmoke;
  border-block: solid;
  border-block-color: whitesmoke;
  text-align: right;
  border-block-width: 20px;
  border-radius: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.logo{
  text-align: left;
  
}

#logo1 {
  cursor: pointer;
}

.menu{
  text-align: right;
  align-content: right;
}

.navbuttons{
  text-align: right;
  
}


/*All things Body*/

.myname{
  background-color: whitesmoke;
  text-align: left;

}
body{
  border-block-color: whitesmoke;
  border-radius: px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12;
  font-display: ;
  background-color: rgba(45,68,113,0.8);
}


.bodycontent1, .bodycontent2, .bodycontent3, .bodycontentintro{
  width: '50px';
  margin: 20px auto;
  padding: 20px;
  border-width: 10px;
  size: 500;
  text-align: center;
  border-block-width: 20px;
  background-color: rgba(45,68,113,0.1);
}

.listbox{
  display: flex;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sublist{
  list-style: none;
  width: '50px';
  margin: 20px auto;
  padding: 20px;
}

.listitem{
  text-align: left;


}

.projectcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}


span{
}


/*Page Items*/

button {
  border-radius: 0px;
  border-block-width: 5px;
  border-block-color: white;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

button:hover {
  border-radius: 10px;
  border-block-width: 5px;
  border-block-color: grey;
  background-color: lightblue;
  text-align: center;
  cursor: pointer;
}

/*Any element2 that comes ecactly after element1*/
/*div + div {
  background-color: green;
}*/

p {
  border-block-width: 100%;
  border-color: black;
  background-color: whitesmoke;
  border-radius: 0px;
  border-spacing: 30px;
}


/*All things Footer*/

footer{
  width: 100%;
  size: 500;
  background-color: whitesmoke;
  border-block: solid;
  border-block-color: whitesmoke;
  text-align: center;
  border-block-width: 20px;
  border-radius: 0px;

}